/* ჩამოწერეთ ნასწავლი position-ები და ახსენი თუ რას აკეთებს თითოეული. */

/* position:static ელემენტის default პოზიციაა
   position:relative ელემენტს ვიზუალურად უცვლის პოზიციას, მაგრამ რეალურად ისევ default მნიშვნელობა რჩება
   position:absolute ელემენტს უცვლის მთლიანად პოზიციას, რეალურადაც და ვიზუალურადაც
   position:fixed ელემენტს აჩერებს მუდმივად ერთ ადგილას
   position:sticky ელემენტი თუ დაეჯახება კიდეს, მას მიეკრობა და იქვე დარჩება */