.parent {
    width:500px;
    height:500px;
    border:solid red 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.child {
    width:100px;
    height:50px;
    background-color: yellow;
    border:solid black 2px
}