input[type="text"] {
    border:dotted green
}

input[type="number"] {
    border:blue dotted 4 px
}

input[type="email"] {
    border:red dashed;
    border-radius: 15px;
}

input[type="tel"] {
    border:solid 2px yellow;
    border-radius: 5px;
}

input[type="password"] {
    border:dashed orange
}