body {
    background-color: hsl(0, 0%, 8%) ;
    height:1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parent {
    width:320px;
    background-color:hsl(0, 0%, 12%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:15px ;
    font-family: "Inter", sans-serif;
    padding:30px;
}


img {
    height:80px;
    width:80px;
    border-radius: 50%;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */
h3 {
    color:white;
    font-weight: 400 ;
    margin-bottom: 0px;
    margin-top: 30px;
    font-size: 25px;
}

#p1 {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 12px;
}

#p2 {
    color: hsl(0, 3%, 81%);
    font-weight: 400;
    margin-top: 5px;
    font-size: 12px;
    margin-top:15px;
}

.parent_2 {
    width:260px;
    height:260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
}

button {
    width:100%;
    height:40px;
    background-color:hsl(0, 0%, 20%) ;
    color:white;
    font-weight: 600;
    border-radius: 10px;
    border:none
}

button:hover {
    background-color:hsl(75, 94%, 57%) ;
    color:hsl(0, 0%, 12%);
}

#but1 {
    margin-top:15px;
}