.parent {
    padding: 10px;
    width:95%;
    height:150px;
    background-color: rgb(9, 169, 9);
    display: grid;
    gap:10px;
    grid-template-rows: 70px 70px;
    grid-template-columns: 200px 600px 600px;
}

.child {
    background-color: white;
}