/* შექმენი div-ი რომელსაც გაუწერ position relative-ს,შემდეგ ზევიდან ჩამოწიე 30px-ით და მარცხნიდან 50px-ით.შექმენი პარაგრაფი და დააკვირდი სად გაჩნდება ის.შედეგი ახსენი კომენტარებით. */


.div {
    width:50px;
    height:50px;
    background-color: red;
    position: relative;
    left:50px;
    top:30px
}

/* პარაგრაფი ჩნდება დივის ადრინდელი პოზიციის ქვევით, რადგან დივს გაწერილი აქვს relative, რის შემთხვევაშიც იცვლება მხოლოდ ვიზუალური პოზიცია*/
