/* შექმენით grid 8 div-ით და გამოიყენეთ grid-auto-flow: column რათა ელემენტები სვეტების მიმართულებით განლაგდეს. */

.parent {
    width: 1300px;
    border: solid blue 4px;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 200px 200px ;
    grid-template-columns: 300px 300px 300px 300px;
    gap:5px
}

.child {
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}